/* 전체 설정 */
html,body{
  width: 100%;
  height: auto;
}
h2{
  font-size: calc(160px * 0.8) !important;
}
figcaption{
  display: none;
}
/* 상단영역 */
header {
  position: absolute;
  z-index: 3;
  width: 100%;
}
header div.hed {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  height: auto;
  width: 1700px;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
header div.hed h1 {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: 150px;
  height: 100px;
}
header div.hed h1 a {
  width: 100%;
  height: 100%;
  font-size: 0;
}
header div.hed ul.gnb {
  grid-column: 2;
  justify-content: right;
  font-size: 20px;
  gap: 40px;
}
header div.hed button{
  grid-column: 3;
  justify-self: center;
  font-size: 0;
}
header div.hed button::before{
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(../img/menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header div.hed ul.gnb li {
  display: flex;
}
header div.hed ul.gnb li a {
  font-size: 25px;
  color: #222;
}
header div.hed ul.gnb li a::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 10px;
  perspective: 500px;
  transition: 0.5s;
}
header div.hed ul.gnb li a:hover::before{
  transform: rotateY(360deg) translateY(-15px);
}
/* main */
#title{
  width: 100%;
  height: 900px;
}
#title div.wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  line-height: 1.5;
  letter-spacing: 1px;
  height: 0px;
  position: relative;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: center;
  animation-name: title;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes title{
  100%{
    height: 900px;
  }
}
#title div.wrap::after{
  /*! content: ""; */
  display: block;
  width: 100%;
  height: 0%;
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  animation-name: showT;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 2s;
}
#title div.wrap h2,
#title div.wrap p{
  z-index: 1;
}
#title div.wrap h2{
  width: auto;
  color: #9968cb;
  letter-spacing: -2px;
  margin: 0 auto;
  animation-name: fade;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#title div.wrap h2 span{
  color: #333;
}
#title div.wrap div.h2img{
  width: auto;
  height: auto;
}
#title div.wrap img.title{
  width: 700px;
  height: auto;
  position: absolute;
  left: 300px;
  top: 50px;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: none;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#title div.wrap img.twinkle1{
  width:auto;
  height: 70px;
  position: absolute;
  left: 330px;
  top: 250px;
}
#title div.wrap img.twinkle2{
  width:auto;
  height: 100px;
  position: absolute;
  left: 240px;
  top: 200px;
}
#title div.wrap img.flower1{
  width:50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 200px;
  animation-name: roll;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}
#title div.wrap img.flower2{
  width: 135px;
  height: auto;
  position: absolute;
  right: 70px;
  top: 220px;
  animation-name: roll2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}
@keyframes roll{
  0%{
    opacity: 0;
  }
  100%{
    transform: rotate(-360deg);
    opacity: 1;
  }
}
@keyframes roll2{
  0%{
    opacity: 0;
  }
  100%{
    transform: rotate(360deg);
    opacity: 1;
  }
}
#title div.wrap img.bigcircle{
  width: auto;
  height: 250px;
  position: absolute;
  right: 200px;
  bottom: 200px;
}
#title div.wrap img.rightstar{
  width: 180px;
  height: fit-content;
  position: absolute;
  right: 120px;
  top: 85px;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#title div.wrap img.tinycircle{
  width: 20px;
  height: auto;
  position: absolute;
  left: 100px;
  bottom: 100px;
}
#title div.wrap img.leftstar{
  width: auto;
  height: auto;
  position: absolute;
  left: 100px;
  bottom: 80px;
}
#title div.wrap img.topline{
  width: 0px;
  height: 1px;
  position: absolute;
  left: 150px;
  top: 115px;
  animation-name: width;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
#title div.wrap img.underline{
  width: 0px;
  height: 1px;
  position: absolute;
  right: 100px;
  bottom: 110px;
  animation-name: width;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes width{
  0%{
    width: 0px;
    height: 1px;
  }
  100%{
    width: 1630px;
    height: 1px;
  }
}
#title div.wrap p{
  margin-bottom: 100px;
  text-shadow: 1px 1px #865366;
  animation-name: show;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s;
  transition: 1s;
  opacity: 0;
}
#title div.wrap div.scroll{
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 75px);
}
#title div.wrap div.scroll h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 0;
  color: #333;
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  border: 1px solid;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* profile */
#profile {
   width: 100%;
   height: 900px;
   margin:150px 0;
   display: flex;
   align-items: center;
}
#profile div.pro {
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,auto);
  row-gap: 70px;
  column-gap: 100px;
  width: 1200px;
  height: auto;
  padding: 50px;
  background-image: url(../img/aboutme.jpg);
  background-size: 90%;
  background-position: center;
}
#profile div.pro h2 {
  grid-column: 1 / span 2;
  grid-row: 1;
  align-self: center;
}
#profile div.pro p {
  line-height: 2;
  grid-column: 1;
  grid-row: 4;
  font-size: 16px;
}
#profile div.pro p.my{
  width: 50%;
  margin: 0 auto;
}
#profile div.pro figure {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
#profile div.pro figure img {
  height: 350px;
}
#profile div.pro figure figcaption {
 display: none;
}
#profile h3{
  grid-column: 1;
  grid-row: 3 / span 2;
  align-self: center;
  text-align: center;
}
#profile h3.h4{
  justify-self: center;
}
#profile p{
  
}
#profile div.text{
  width: auto;
}
#profile div.pro ul.intro {
 grid-column: 2 / span 2;
 grid-row: 2;
 align-self: center;
 display: flex;
 flex-direction: column;
 gap: 40px;
}
#profile div.pro ul.intro li {
  width: fit-content;
  line-height: 1.5;
}
#profile div.pro ul.intro li h3 {
 line-height: 1.5;
 margin-bottom: 10px;
 font-size: 20px;
 display: flex;
 align-items: center;
 font-weight: 600;
}
#profile div.pro ul.intro li h3::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid#333;
  border-radius: 50%;
  margin-right: 10px;
}
#profile div.pro ul.intro li p {
  line-height: 1.7;
  margin-bottom: 20px;
}
#profile div.pro ul.info {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 10px;
  align-items: center;
}
#profile div.pro ul.info h4{
  width: 100%;
  display: flex;
  align-items: center;
}
#profile div.pro ul.info h4::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid;
  border-radius: 10px;
  margin-right: 10px;
}
#profile div.pro ul.text{
  align-items: center;
}
#profile div.pro ul.text li{
  
}
#profile div.pro ul.text h3{
  
}
#profile div.pro ul.text p{
  
}
#profile div.pro ul.info li {
  width: auto;
  height: auto;
  display: flex;
  gap: 10px;
  font-size: 15px;
}
#profile div.pro ul.info li span{
  font-weight: 650;
}
#profile div.pro ul.info li:nth-of-type(1){
  grid-column: 1;
  grid-row: 2;
}
#profile div.pro ul.info li:nth-of-type(2){
  grid-column: 1;
  grid-row: 3;
}
#profile div.pro ul.info li:nth-of-type(3){
  grid-column: 2;
  grid-row: 2;
}
#profile div.pro ul.info li:nth-of-type(4){
  grid-column: 2;
  grid-row: 3;
}
/* portfolio */
#portfolio {
  width: 100%;
  height: 100%;
}
#portfolio div.wrapT {
  flex-direction: column;
  gap: 50px;
}
#portfolio div.wrapT h2 {
  
}
#portfolio div.wrapT p {
  line-height: 1.5;
  margin-bottom: 30px;
}
#portfolio div.wrapT ul.list {
  margin-top: 50px;
  width: 700px;
}
#portfolio div.wrapT ul.list li {
  
}
#portfolio div.wrapT ul.list li h3{
  justify-self: left;
  align-self: first baseline;
}
#portfolio div.wrapT ul.sub{
 align-self: center;
  line-height: 1.8;
  margin-top: 40px; 
}
#portfolio div.wrapT ul.list li ul.sub li a{
  width: 130px;
  height: 30px;
  background-color: #e0c5fc;
  border-radius: 30px;
  border: 1px solid;
  text-align: center;
  align-content: center;
  padding: 15px;
  margin: 20px 20px 0 0;
  transition: 0.5s;
}
#portfolio div.wrapT ul.list li ul.sub li a:hover{
  background: #eee;
}
#portfolio div.wrapT ul.list li ul.sub strong{
  
}
#portfolio div.wrapT ul.list li.work{
  flex-direction: column;
}
#portfolio div.wrapT ul.list li div{
  position: relative;
}
#portfolio div.wrapT ul.list li>div::after{
  content: "";
  display: block;
  width: 1903px;
  height: 480px;
  transform: translateX(calc(100% - 2155px));
  background-image: url(../img/portfolioback.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
  top: -30px;
  z-index: -1;
}
#portfolio div.wrapT ul.list li div.k,
#portfolio div.wrapT ul.list li div.me{
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  row-gap: 30px;
}
/* phone img 설정 */
#portfolio div.wrapT ul.list li figure{
  position: relative;
}
#portfolio div.wrapT ul.list li div figure::before{
  content: "";
  display: block;
  width: 210px;
  height: 400px;
  position: absolute;
  bottom: -50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}#portfolio div.wrapT ul.list li figure img{
  width: 700px;
}
/* k */
#portfolio div.wrapT ul.list li div.k {
  width: 500px;
}
#portfolio div.wrapT ul.list li div.k h3 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 90px;
}
#portfolio div.wrapT ul.list li div.k figure {
  grid-column: 2;
  grid-row: 1;
}
#portfolio div.wrapT ul.list li div.k figure::before{
  background-image: url(../img/pf1phone.png);
  right: -50px;
}
#portfolio div.wrapT ul.list li div.k figure img {
  
}
#portfolio div.wrapT ul.list li div.k figure figcaption {
  
}
#portfolio div.wrapT ul.list li div.k ul.sub {
  grid-column: 1;
  grid-row: 1;
  width: 700px;
}
#portfolio div.wrapT ul.list li div.k ul.sub li {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
#portfolio div.wrapT ul.list li div.k ul.sub li strong {
  
}
#portfolio div.wrapT ul.list li div.k ul.sub strong {
  
}
#portfolio div.wrapT ul.list li div.k ul.sub ul {
  
}
#portfolio div.wrapT ul.list li div.k ul.sub ul li {
  
}
#portfolio div.wrapT ul.list li div.k ul.sub li a {
 
}
#portfolio div.wrapT ul.list li div.k ul.sub li strong {
  
}
/* al */
#portfolio div.wrapT ul.list li div.al {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#portfolio div.wrapT ul.list li div.al h3 {
  grid-column: 2;
  grid-row: 1;
}
#portfolio div.wrapT ul.list li div.al figure {
  grid-column: 1;
  grid-row: 1;
  margin-right: 150px;
  position: relative;
}
#portfolio div.wrapT ul.list li div.al figure::before{
  background-image: url(../img/pf2phone.png);
  left: -50px;
}
#portfolio div.wrapT ul.list li div.al figure img {
  
}
#portfolio div.wrapT ul.list li div.al figure figcaption {
  
}
#portfolio div.wrapT ul.list li div.al ul.sub {
  grid-column: 2;
  grid-row: 1;
}
#portfolio div.wrapT ul.list li div.al ul.sub li {
  
}
#portfolio div.wrapT ul.list li div.al ul.sub li strong {
  
}
#portfolio div.wrapT ul.list li div.al ul.sub strong {
  
}
#portfolio div.wrapT ul.list li div.al ul.sub ul {
  
}
#portfolio div.wrapT ul.list li div.al ul.sub li a{
  
}
#portfolio div.wrapT ul.list li div.al ul.sub li {
  display: flex;
}
#portfolio div.wrapT ul.list li div.al ul.sub li strong {
  
}
/* me */
#portfolio div.wrapT ul.list li div.me {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#portfolio div.wrapT ul.list li div.me h3 {
  grid-column: 1;
  grid-row: 1;
  margin-left: 90px;
}
#portfolio div.wrapT ul.list li div.me figure {
  
}
#portfolio div.wrapT ul.list li div.me figure img {
  
}
#portfolio div.wrapT ul.list li div.me figure figcaption {
  
}
#portfolio div.wrapT ul.list li div.me ul.sub {
  grid-column: 1;
  grid-row: 1;
  align-content: center;
  line-height: 1.5;
  width: 700px;
}
#portfolio div.wrapT ul.list li div.me ul.sub li {
  display: flex;
  width: 500px;
  margin: 0 auto;
}
#portfolio div.wrapT ul.list li div.me ul.sub ul {
  
}
#portfolio div.wrapT ul.list li div.me ul.sub ul li {
  
}
#portfolio div.wrapT ul.list li div.me ul.sub li a{
  
}
#portfolio div.wrapT ul.list li div.me ul.sub li strong {
  
}
/* skill */
#skill {
  width: 100%;
  height: 900px;
  position: relative;
}
#skill img{
  position: absolute;
  z-index: -1;
}
#skill img:nth-of-type(1){
  left: -100px;
  bottom: 300px;
  width: 600px;
  height: 500px;
}
#skill img:nth-of-type(2){
  right: 100px;
}
#skill img:nth-of-type(3){
  right: 0;
}
#skill div.wrapT {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#skill div.wrapT h2 {
  width: fit-content;
  margin-bottom: 30px;
}
#skill div.wrapT ul.list {
  
}
#skill div.wrapT ul.list li {
  
}
#skill div.wrapT ul.list li h3 {
  display: flex;
  line-height: 1.5;
  margin: 50px 0 30px 0;
  justify-content: center;
}
#skill div.wrapT ul.list li ul{
  justify-content: space-around;
  height: 180px;
}
#skill div.wrapT ul.list li ul li::after{
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#skill div.wrapT ul.list li ul.sub {
  
}
#skill div.wrapT ul.list li ul.sub2 {
  
}
/* skill 아이콘 전체 설정 */
#skill div.wrap ul.list li> ul.sub li{
  width: 100%;
  height: 100%;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
#skill div.wrap ul.list li > ul.sub li.ts5,
#skill div.wrap ul.list li > ul.sub li.ts6{
  padding-bottom: 28px;
}
/* (1)프론트엔드 아이콘영역 */
#skill div.wrap ul.list li> ul.sub li.fr1{
  background-image: url(../img/html.png);
}
#skill div.wrap ul.list li> ul.sub li.fr2{
  background-image: url(../img/css3.png);
}
#skill div.wrap ul.list li> ul.sub li.fr3{
  background-image: url(../img/js.png);
}
#skill div.wrap ul.list li> ul.sub li.fr4{
  background-image: url(../img/jquery.png);
}
#skill div.wrap ul.list li> ul.sub li.fr5{
  background-image: url(../img/responsive.png);
}
#skill div.wrap ul.list li> ul.sub li.fr6{
  background-image: url(../img/webstandards.png);
}
#skill div.wrap ul.list li> ul.sub li.fr7{
  background-image: url(../img/webaccessibility.svg);
}
#skill div.wrap ul.list li> ul.sub li.fr8{
  background-image: url(../img/webfont.svg);
}
#skill div.wrap ul.list li> ul.sub li.fr9{
  background-image: url(../img/webicon.svg);
}
#skill div.wrap ul.list li> ul.sub li.fr10{
  background-image: url(../img/svg.png);
}
/* (2) 프레임워크 및 라이브러리영역 */
#skill div.wrap ul.list li> ul.sub li.fw{
  background-image: url(../img/vue.png);
}
/* (3) 디자인 tools영역 */
#skill div.wrap ul.list li> ul.sub li.dt1{
  background-image: url(../img/photoshop.png);
}
#skill div.wrap ul.list li> ul.sub li.dt2{
  background-image: url(../img/illustrator.png);
}
#skill div.wrap ul.list li> ul.sub li.dt3{
  background-image: url(../img/figma.png);
}
#skill div.wrap ul.list li> ul.sub li.dt4{
  background-image: url(../img/kakao.png);
}
#skill div.wrap ul.list li> ul.sub li.dt5{
  background-image: url(../img/premierpro.png);
}
#skill div.wrap ul.list li> ul.sub li.dt6{
  background-image: url(../img/aftereffect.png);
}
/* (4)버전 관리 및 협업 도구영역 */
#skill div.wrap ul.list li > ul.sub li.vt1{
  background-image: url(../img/git.png);
  background-size: 60%;
}
#skill div.wrap ul.list li> ul.sub li.vt2{
  background-image: url(../img/aboutmegithub.png);
}
#skill div.wrap ul.list li> ul.sub li.vt3{
  background-image: url(../img/googledrive.png);
}
#skill div.wrap ul.list li> ul.sub li.vt4{
  background-image: url(../img/firefox.png);
}
/* (5)기타도구 및 기술 영역  */
#skill div.wrap ul.list li> ul.sub li.ts1{
  background-image: url(../img/vscode.png);
}
#skill div.wrap ul.list li> ul.sub li.ts2{
  background-image: url(../img/atom.png);
}
#skill div.wrap ul.list li> ul.sub li.ts3{
  background-image: url(../img/zencoding.png);
}
#skill div.wrap ul.list li> ul.sub li.ts4{
  background-image: url(../img/sass.png);
}
#skill div.wrap ul.list li > ul.sub li.ts5,
#skill div.wrap ul.list li > ul.sub li.ts6{
  background-position: bottom;
}
#skill div.wrap ul.list li> ul.sub li.ts5{
  background-image: url(../img/optimization.png);
}
#skill div.wrap ul.list li> ul.sub li.ts6{
  background-image: url(../img/seo.png);
}
#skill div.wrapT ul.list li ul.sub2 li {
 
}
#skill div.wrapT ul.list li strong {
  height: 150px;
  display: block;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
#skill div.wrapT ul.list li:nth-child(5) strong{
  width: 120px;
}
#skill div.wrapT ul.list li i{
  display: flex;
  justify-content: center;
}

#skill div.wrapT ul.list li {
 
}
/* skill slick */
#skill .slick-track{
  margin-bottom: 30px;
}
#skill .slick-list{
  
}
#skill .slick-dots li button{
}
/* process */
#process {
  width: 100%;
  height: 100%;
}
#process div.wrapT {
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
}
#process div.wrapT h2 {
  margin-bottom: 40px;
}
#process div.wrapT p {
  
}
#process div.wrapT h3 {
  
}
#process div.wrapT ul {
  flex-wrap: wrap;
}
#process div.wrapT ul li.list{
  width: auto;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5 , 265px);
  grid-template-rows: 150px 150px;
  column-gap: 20px;
  row-gap: 20px;
  line-height: 2.7;
  text-align: center;
}
#process div.wrapT ul li ul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0c5fc45;
  border-radius: 5px;
  border: 1px solid;
}
#process div.wrapT ul li ul li{
  
}
/* grid 정렬요소 */
#process div.wrapT ul li.list ul.tools{
  grid-column: 2;
  grid-row: 1;
}
#process div.wrapT ul li.list ul.prototype{
  grid-column: 3 / span 2;
  grid-row: 1;
}
#process div.wrapT ul li.list ul.frontend{
  grid-column: 4;
  grid-row: 2;
}
#process div.wrapT ul li.list ul.service{
  grid-column: 1 / span 2;
  grid-row: 2;
}
#process div.wrapT ul li.list ul.design{
  grid-column: 1;
  grid-row: 1;
}
#process div.wrapT ul li.list ul.smart{
  grid-column: 5;
  grid-row: 1;
}
#process div.wrapT ul li.list ul.projact{
  grid-column: 3;
  grid-row: 2;
}
#process div.wrapT ul li.list ul.work{
  grid-column: 5;
  grid-row: 2;
}
#process div.wrapT a {
  width: fit-content;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e0c5fc;
  border: 1px solid;
  border-radius: 50px;
  margin-left: auto;
  transition: 0.5s;
}
#process div.wrapT a:hover{
  background: #eee;
}
/* contact */
#contact {
  
}
#contact div.wrapT {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4,auto);
  row-gap: 30px;
  line-height: 1.5;
  position: relative;
}
#contact div.wrapT::before{
  content: "";
  display: block;
  width: 1px;
  height: 350px;
  background-image: url(../img/contact.center.line.svg);
  background-size: contain;
  position: absolute;
  left: calc(50% - 1px);
  top: calc(50% - 135px);
}
#contact div.wrapT h2 {
  grid-column: 1 / span 3;
  grid-row: 1;
}
#contact div.wrapT p {
  grid-column: 1 / span 3;
  grid-row: 2;
}
#contact div.wrapT ul.list {
  align-content: center;
}
#contact div.wrapT ul.list li {
  
}
#contact div.wrapT ul.list li strong {
  margin-right: 20px;
}
#contact div.wrapT a.QnA {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: auto;
  height: auto;
  background-color: #9ff9f7;
  border: 1px solid;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 20px;
  transition: 0.5s;
}
#contact div.wrapT a.QnA:hover{
  background: #eee;
}
#contact div.wrapT ul.sns {
  grid-column: 1;
  grid-row: 4;
  align-self: center;
  gap: 20px;
}
#contact div.wrapT ul.sns li {
  font-size: 0;
}
#contact div.wrapT ul.sns li a {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#contact div.wrapT ul.sns li:nth-child(1) a {
  background-image: url(../img/kakao.svg);
}
#contact div.wrapT ul.sns li:nth-child(2) a {
  background-image: url(../img/gmail.svg);
}
#contact div.wrapT div.sourcesite {
  grid-column: 3;
  grid-row: 3 / span 2;
}
#contact div.wrapT div.sourcesite h3 {
  line-height: 1;
  margin-bottom: 20px;
}
#contact div.wrapT div.sourcesite p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 15px;
}
#contact div.wrapT div.sourcesite ul.src {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#contact div.wrapT div.sourcesite ul.src li {
  width: auto;
  height: auto;
}
#contact div.wrapT div.sourcesite ul.src li a {
  width: 90px;
  height: auto;
  line-height: 2;
  padding: 0 5px;
  transition: 0.5s;
}
#contact div.wrapT div.sourcesite ul.src li a:hover{
  background: #333;
  color: #f4f4f4;
}
/* footer */
footer{
  width: 100%;
  height: auto;
  background-image: url(../img/footer.png);
}
footer div.wrap{
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 80px 50px;
  box-sizing: border-box;
}
footer div.wrap h1{
  grid-column: 1;
  grid-row: 1;
  width: 180px;
  height: 100%;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
footer div.wrap h1 a{
  width: 100%;
  height: auto;
  opacity: 0;
}
footer div.wrap address{
  
}
footer div.wrap address strong{

}
footer div.wrap ul.sns{
  grid-column: 2;
  grid-row: 1;
  justify-content: right;
  align-items: center;
  gap: 50px;
}
footer div.wrap ul.sns li{
  
}
footer div.wrap ul.sns li a{
  font-size: 0;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* sns icon */
footer div.wrap ul.sns li:nth-child(1) a{
  background-image: url(../img/notion3.svg);
}
footer div.wrap ul.sns li:nth-child(2) a{
  background-image: url(../img/github.png);
}
footer div.wrap ul.sns li:nth-child(3) a{
  background-image: url(../img/google.png);
}
footer div.wrap ul.sns li:nth-child(4) a{
  background-image: url(../img/codepen.png);
}
footer div.wrap ul.fnb{
  grid-column: 1;
  grid-row: 2;
  justify-content: left;
  align-items: center;
  gap: 30px;
}
footer div.wrap ul.fnb li{

}
footer div.wrap ul.fnb li a{
  
}
footer p{
  grid-column: 1;
  grid-row: 3;
}